
#demo-grid {
    justify-content: center;
    width: 100%;

    /*display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));

     */
    display:flex;
    flex-wrap:wrap;

}

.multiple-demo {
    outline: 1px solid #eee;
    height:450px;
    width:450px;
    margin:25px;
}





.jtk-demo-canvas strong {
    position: absolute;
    left: 25px;
    top: 55px;
    color: #424040;
}

.jtk-node .add, .jtk-node .delete {
    position:absolute;
    top:3px;
}
